# Data (keep out of git for now; revisit later)
extdata/

# Quarto / Jupyter

.quarto/
**/*.quarto_ipynb
*_cache/
*_files/
**/*_files/
.ipynb_checkpoints/

# Rendered output (do NOT ignore if we  decide to publish from docs/)
# docs/

# RStudio / R
.Rproj.user
.Rhistory

# Local Python environments / kernels
.venv/
venv/
.dataviz/


# macOS
.DS_Store

/.quarto/
